let mapleader = ' '

set clipboard=unnamed
set NERDTree

nnoremap <A-m> :NERDTree<CR>

" Move to the start of line
nnoremap H ^
" Move to the end of line
nnoremap L $

" built in search looks better
nnoremap / :action Find<CR>

" Terminal
nnoremap <Leader>d Vy<CR>:action ActivateTerminalToolWindow<CR>
nnoremap <Leader>h :action HideActiveWindow<CR>
nnoremap <Leader>q :action CloseActiveTab<CR>

" code operation
nnoremap gh :action QuickJavaDoc<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gp :action ShowErrorDescription<CR>
nnoremap cc :action CommentByLineComment<CR>
vnoremap cc :action CommentByLineComment<CR>
nnoremap <Leader>ca :action QuickActions<CR>
nnoremap <Leader>f :action ReformatCode<CR>
nnoremap <Leader>r :action Run<CR>
nnoremap fu :action FindUsages<CR>

" Tab operation
nnoremap <C-h> :action PreviousTab<CR>
nnoremap <C-l> :action NextTab<CR>
nnoremap <C-w> :action CloseContent<CR>

" Insert mode shortcut
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-d> <Delete>
